@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
    font-family: 'Poppins';
}

body {
    background-color: #260f4d;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.main {
    background-color: #ffffff;
    padding: 40px;
    box-shadow: #1c093c 0px 0px 10px 10px;
    border-radius: 15px;
}

.input_field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0px;
}

.input_field input{
    border: 1.5px solid #272727;
    width: 70%;
    border-radius: 5px;
}

.input_field button {
    width: 25%;
    border: none;
    border-radius: 5px;
    background-color: #260f4d;
    color: #e5e5e5;
    font-size: 10px;
    padding: 5px 0px;

    transition: all 0.5s ease; 
}

.input_field button:hover {
    background-color: #361d61;
}

.main p {
    font-size: 15px;
    padding: 0px;
    margin: 0px;
}

.main h2 {
    text-align: center;
    font-size: 22px;
    padding: 0px;
    margin: 0px;
}